---
import Layout from "../layouts/Layout.astro";
import { books } from "../data/books";
import ReadButton from "../components/ReadButton.astro";

const { book } = Astro.params

const info = books.find(b => b.id === book)

if (!info) {
  return Astro.redirect("/404")
}
---

<Layout title={`Libro ${info.title}`}>
  <main class="m-auto max-w-4xl">
    <header class="relative">
      
      <h1
        class="scale-50 font-black uppercase text-6xl md:text-8xl text-center py-8 px-4"
        style="view-transition-name: book-title"
      >
        Libros de
        <span class="block text-[36px] md:text-[58px]">astronomía</span>
      </h1>
      
      <a href='/' class="text-2xl text-center py-8 hover:underline opacity-70 px-36">← Volver atrás</a>

    </header>
    <div class="grid grid-cols-1 md:grid-cols-[350px_1fr] gap-x-12 mt-4 md:mt-20 px-8">

      <div class="flex flex-col mb-10">
        
        <picture class="mb-8 w-full relative">
          <img
            class="aspect-[389/500] h-full object-cover w-full max-w-full rounded"
            src={info.img}
            alt={`Portada del libro ${info.title}`}
            style={`view-transition-name: book-${info.id}`}
          />
        </picture>

        <ReadButton id={info.id} />
      
      </div>

      <aside class="mt-10 md:mt-0">
        <h1 class="text-5xl font-black mb-4">{info.title}</h1>
        <p class="text-lg mb-4">{info.opinion}</p>
        <p><strong>Autor:</strong> <span class="font-semibold text-gray-800">{info.author}</span></p>
        <p><strong>Páginas:</strong> <span class="font-semibold text-gray-800">{info.pages}</span></p>
      </aside>
    </div>
    
  </main>
</Layout>